 
flame/*
instance.cfg
.packignore
.fabric/*
.mixin.out/*
.vscode/*
local/kubejs/event_groups/*
kubejs/probe/*
libraries/*

#omitted world-specific config files
config/litematica/*
config/inventoryprofilesnext/*/
config/minihud/*
config/spark/tmp/*
config/stack-to-nearby-chests/locked-slots/*
config/worldedit/.archive-unpack/*
config/jei/world/*
crash-reports/*
data/*
essential/*
frozenlib_cape_cache/*
logs/*
mods/*
ops.json
options.txt
patchouli_data.json
irisUpdateInfo.json
polymer-resourcepack.zip
resourcepacks/
icon.png
saves/*
screenshots/
shaderpacks/
supportercache.json
usercache.json
usernamecache.json
config/sound_physics_remastered/*

modlist.html

mmc-pack.json
whitelist.json
servers.dat
servers.dat_old
servers.essential.dat
Distant_Horizons_server_data/Localhost/overworld/DistantHorizons.sqlite
Distant_Horizons_server_data/LadyAlthea/overworld/DistantHorizons.sqlite
fabric-server-mc.1.20.1-loader.0.16.7-launcher.1.0.1.jar
rhino.local.properties
versions/1.20.1/server-1.20.1.jar
world/*
config/spark/activity.json
Distant_Horizons_server_data/Localhost/the_nether/DistantHorizons.sqlite
