 
flame/*
instance.cfg
.packignore
minecraft/.fabric/*
minecraft/.mixin.out/*

#omitted world-specific config files
minecraft/config/litematica/*
minecraft/config/inventoryprofilesnext/*/
minecraft/config/minihud/*
minecraft/config/spark/tmp/*
minecraft/config/stack-to-nearby-chests/locked-slots/*
minecraft/crash-reports/*
minecraft/data/*
minecraft/essential/*
minecraft/frozenlib_cape_cache/*
minecraft/logs/*
minecraft/mods/*
minecraft/ops.json
minecraft/options.txt
minecraft/patchouli_data.json
minecraft/irisUpdateInfo.json

minecraft/polymer-resourcepack.zip

minecraft/resourcepacks/

minecraft/icon.png

minecraft/saves/*
minecraft/screenshots/

minecraft/shaderpacks/

minecraft/supportercache.json

minecraft/usercache.json

minecraft/usernamecache.json

modlist.html

mmc-pack.json
