 
flame/*
instance.cfg
.packignore
.fabric/*
.mixin.out/*
.vscode/*
local/kubejs/event_groups/*

#omitted world-specific config files
config/litematica/*
config/inventoryprofilesnext/*/
config/minihud/*
config/spark/tmp/*
config/stack-to-nearby-chests/locked-slots/*
crash-reports/*
data/*
essential/*
frozenlib_cape_cache/*
logs/*
mods/*
ops.json
options.txt
patchouli_data.json
irisUpdateInfo.json
polymer-resourcepack.zip
resourcepacks/
icon.png
saves/*
screenshots/
shaderpacks/
supportercache.json
usercache.json
usernamecache.json

modlist.html

mmc-pack.json
whitelist.json
servers.dat
servers.dat_old
servers.essential.dat
Distant_Horizons_server_data/Localhost/overworld/DistantHorizons.sqlite
Distant_Horizons_server_data/LadyAlthea/overworld/DistantHorizons.sqlite
